* {
	transition: all 0.3s ease;
}
body {
	background-color: #282c34;
	min-height: calc(100vh);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	text-align: center;
	/* margin-top: 10rem; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
